.search-bar {
  background-color: rgb(215, 26, 100);
  width: 50%;
  margin: auto;
  padding: 10px;
  border-radius: 30px;
  box-shadow: 2px 2px 6px rgb(116, 17, 55);
  display: flex;
  justify-content: center;
}

.search-input {
  height: 22px;
  width: 50%;
}

.search-button {
  height: auto;
  margin: 0 2px;
}

.add-article-button {
  font-size: 18px;
  text-decoration: none;
  color: white;
  text-shadow: 1px 1px 3px rgb(116, 17, 55);
  background-color: rgb(215, 26, 100);
  width: 150px;
  margin: 20px auto 0px auto;
  padding: 5px 5px;
  border-radius: 30px;
  box-shadow: 1px 1px 6px rgb(116, 17, 55);
  display: flex;
  justify-content: center;
}

.add-article-button:hover {
  color: yellow;
}